// Home Page
//––––––––––––––––––––––––––––––––––––––––––––––––––

#wrapper-container{

    display: flex;
    flex-direction: column;
    justify-content: center;
    
    height: 100vh;
    max-width: 365px;
    margin: auto;
    text-align: center;
    padding: 0 5rem;

}