
// Select Tip
//––––––––––––––––––––––––––––––––––––––––––––––––––

.select_tip  {

    padding: 2.5rem 0;
    
    &--container {

        display: flex;
        justify-content: space-between;
    }
      
    input {

        border: 0;
        clip: rect(0, 0, 0, 0);
        height: 1px;
        overflow: hidden;
        position: absolute !important;
        width: 1px;

                
        &:checked + label {

            background-color: $pink;
            box-shadow: none;
            color: white;
            -webkit-box-shadow: none;
        }

    }
      
    label {

        border-radius: 6px;
        color: $gray;
        font-family: $font-secondary;
        font-size: 2.2rem;
        padding: 0 0.6rem;
        text-decoration: none;
        -webkit-transition: all .5s ease;
        transition: all .5s ease;

        &:hover {

            background-color: lighten($gray, 10%);
            cursor: pointer; 
            color: white;
        
        }

    }

}