// Waves
//––––––––––––––––––––––––––––––––––––––––––––––––––

.waves_wrapper {

  left: 0;
  margin: auto;
  min-height: 100vh;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 230px;
  z-index: -99;

  @media (min-width: 720px) {

    top: 345px;

  }

}

.waves_container {

    height: 371px;
    transform: translate3d(0, 0, 0);
    transform: rotate(16deg);
    position: relative;
    width: 100%;
    z-index: -9;
  
    @media (min-width: 720px) {

      transform: rotate(0deg);
  
    }

  &:after {

    content: '';
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    transform: translate3d(0, 0, 0);
    width: 100%;
    z-index: 11;

    }

}

.wave {

    animation: drift 3000ms infinite linear;
    background: #f95184;
    border-radius: 43%;
    display: block;
    height: 1800px;
    left: -238px;
    margin: auto;
    opacity: .4;
    position: absolute;
    right: 0;
    top: 34%;
    transform-origin: 50% 48%;
    width: 1800px;

}

.wave.-three {

  animation: drift 5000ms infinite linear;
  opacity: 1;

}

.wave.-two {

  background: $pink;
  animation: drift 7000ms infinite linear;
  opacity: .1;

}


@keyframes drift {

  from { transform: rotate(0deg); }
  from { transform: rotate(360deg); }

}